@import 'mixins';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
}

body {
    font-family: 'Source Code Pro', monospace;
}

h6{
    font-size: 1.1rem;
}
h5 {
    font-size: 1.4rem;
}
h4{
    font-size: 1.7rem;
}
h3 {
    font-size: 2.0rem;
}
h2{
    font-size: 2.3rem;
}
h1 {
    margin: 30px 0;
    font-size: 2.7rem;
    text-align: center;
}

.wrap{
    width: 80%;
    margin: 0 auto;

    .card-container {
        
        display:flex;
        flex-wrap:wrap;
        align-items: center;

        .card {
            width: calc(100% / 4 - 20px);
            height: 200px;
            margin: 10px;
            padding: 10px;
            @include border-radius;
            box-shadow: 5px 5px 10px 5px rgba(104, 104, 104, 0.6);
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            cursor:pointer;
            @include transition;
            h4,h6{
                flex-grow:4;
            }
            &:hover {
            @include transform-scale;
            }
        }
    }
}

